body{
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(241,239,239);
  font-family: 'Podkova', serif;
  color: rgb(57,57,57);
}

h1{
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin:10px  0px;
}

h2{
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 50px 0 10px 0;
}

p{
  margin: 0px;
  font-size: 20px;
}

a{
  color:rgba(4, 12, 19, 0.495) ;
  font-size: 20px;
  text-decoration-line: underline ;
  text-decoration-color: rgba(0, 0, 0, 0.332);
  font-weight: 100px;
}

.dark a{
  color: rgb(255, 204, 20);

}

header{
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39,38,38);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: 
  inset 4px 4px 4px rgb(255, 255, 255),
  inset -4px -4px 4px rgb(195 193 198 / 90%);
  ;
}

.dark {
  background-color: rgb(57,57,57) ;
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left:45px;

}

.dark .flicker {
transform: translateX(40px);
}

.dark > *{
  color: rgb(255, 255, 255);
}

.main{
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main-text {
  padding: 30px;
  margin-bottom: 100px;
}

.square {
  width: 98%;
  margin: 1%;
  height: 350px;
  background-color:rgb(255, 255, 255) ;
  text-align: center;
  
}

.dark .square {
  background-color: rgb(71,71,71);
}

.sub-section{
  display: flex;
  flex-wrap: wrap;
}
 #brtcrd{
 background-image: url(images/birthday.png) ;
 background-size:cover;
 background-repeat: no-repeat;
 background-size: 60% 60%;
 background-position: center;

 }

 #gs{
  background-image: url(images/game\ \(4\).png );
  background-repeat: no-repeat;
  background-size:cover;
  background-size: 55% 55%;
 background-position: 100px 160px;
 }

  #fly{
    background-image:url(images/fly.png) ;
 background-size:cover;
 background-repeat: no-repeat;
 background-size: 55% 55%;
 background-position: 100px 180px;

    }

    #cnt{
      background-image: url(images/count.png);
 background-size:cover;
 background-repeat: no-repeat;
 background-size: 55% 55%;
 background-position: 150px 180px;
      }

      .hero-image {
        position: relative;
        width: 50% ;
        height: 350px;
        display: block;
        margin-bottom: 100px;
}
      

      .cube{
        position: absolute;
        width: 80px;
        height: 80px;
        transform: rotate(-25deg) skew(25deg);

      }

      .cube::before {
        position: absolute;
        content: "";
        width: 21px;
        height: 100%;
        transform: skewY(-45deg);
        left: -20px;
        bottom: -10px;
        
      }

.cube::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
  
}

#html{
  left: 100px;
  bottom: 80px;
background-image: url(images/html1.png);
background-repeat: no-repeat;
background-size:98% 98%;
background-color: rgb(243, 181, 49);
box-shadow: -60px 60px 20px rgba(15, 15, 15, 0.245);
}

#html::before{
background-color: rgb(189, 141, 38);
}

#html::after{
  background-color:  rgba(243, 206, 127, 0.89);
  }
  
  #css{
    left: 220px;
    bottom: 240px;
  background-image: url(images/css2.png);
  background-repeat: no-repeat;
  background-size:100% 100% ;
  background-color: rgb(255, 142, 219);
  box-shadow: -100px 100px 20px rgba(15, 15, 15, 0.245);
  }
  
  #css::before{
  background-color:rgba(189, 62, 148, 0.767);
  }
  
  #css::after{
    background-color:rgba(252, 79, 197, 0.285)  ;
    }

    #js{
      left: 450px;
      bottom: 200px;
    background-image: url(images/js2.png);
    background-repeat: no-repeat;
    background-size:98% 98% ;
    background-color:rgba(12, 170, 9, 0.97) ;
    box-shadow: -45px 45px 20px rgba(15, 15, 15, 0.245);
    }
    
    #js::before{
    background-color:rgba(28, 112, 27, 0.877) ;
    }
    
    #js::after{
      background-color: rgba(109, 241, 106, 0.637);
      }

      #react{
        left: 350px;
        bottom: 40px;
      background-image: url(images/react.png);
      background-repeat: no-repeat;
      background-size:cover ;
      background-color:rgb(73, 141, 243) ;
      box-shadow: -80px 80px 20px rgba(15, 15, 15, 0.245);
      }
      
      #react::before{
      background-color:rgb(64, 111, 182) ;
      }
      
      #react::after{
        background-color:rgba(128, 174, 243, 0.856);
        }

footer{
  display: flex;
  justify-content: center;
  padding: 100px 30px;
  background-color:rgb(136,136,136) ;
}

.dark footer{
  background-color:rgb(28,28,28) ;
}

@media only screen and (min-width:970px) {
 .main-text{
  width: 50%;
 }
  .square {
  width: 48%;
  margin: 1%;
  height: 600px;
}}

@media only screen and (max-width:1200px){
.hero-image{
  display: none;
}

}